.mainView {
	-fx-background-color: #1D222C;
	-fx-border-color: #000000, #3B3F48;
	-fx-border-insets: 0, 1;
}

.resizeDragButton {
	-fx-background-image: url("../../res/img/resize.png");
}

.lines {
	-fx-background-image: url("../../res/img/lines.png");
	-fx-opacity: 0.65;
}